@import 'tailwindcss';

/* 
  fonts 
*/

/* asgard */
/* @font-face {
  font-family: 'asgard';
  src: url('/fonts/asgard/AsgardTrial-Regular.woff2') format('woff2'),
       url('/fonts/asgard/AsgardTrial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */
/* IBM Plex Mono */
/* @font-face {
  font-family: 'ibm-plex-mono';
  src: url('/fonts/ibmPlexMono/IBMPlexMono-Medium.woff2') format('woff2'),
       url('/fonts/ibmPlexMono/IBMPlexMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-plex-mono';
  src: url('/fonts/ibmPlexMono/IBMPlexMono-Regular.woff2') format('woff2'),
       url('/fonts/ibmPlexMono/IBMPlexMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-plex-mono';
  src: url('/fonts/ibmPlexMono/IBMPlexMono-Light.woff2') format('woff2'),
       url('/fonts/ibmPlexMono/IBMPlexMono-RLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} */

html {
  font-size: calc(100 / 1440 * 1vw);
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(100 / 390 * 1vw);
  }
}

body, #root {
  min-height: 100vh;
  background: #000;
  font-family: 'Warbler Text';
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
*::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 
  variables
*/

:root {

}

@theme {
  /* colors */
  --color-background-1: #EBEBEB;
  /* font */
  --font-warbler-deck: 'Warbler Deck';
  --font-warbler-text: 'Warbler Text';
  --font-pt-mono: 'PT mono';
}
